/*
  MAIN APP STYLE
*/

// PARAMETERS
$u: 8px; // the smallest size available, any other size is a multiple

$small-space: $u / 2;
$regular-space: $u;
$medium-space: $u * 2;
$large-space: $u * 3;

$columns: 12;
$col-h-margin: 2.4%;
$col-fullwidth-padding: 2.4%;
$gutter: 1.2%;

$min-width-breakpoint: 600px;
$max-width-breakpoint: 1200px;

$mainFont: "Fira Sans", "Helvetica", sans-serif;

$small-radius: 2px;
$medium-radius: 4px;
$large-radius: 8px;


// COLORS
$gray1: #E5E5E5;
$gray2: #5D5D5D;

body {
  color: $gray2;
  background-color: $gray1;
}

// LAYOUT
@for $i from 1 to 9 {
  $value: $i * $u;
  .pad-#{$i} { padding: $value }
  .mar-#{$i} { margin-bottom: $value }
  .mtop-#{$i} { margin-top: $value }
}

.right {
  .group, .col-fill, div {
    float: right;
    text-align: right;
  }
}

.center {
  &.group {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
}

$textElements: p, a, h1, h2, h3, h4, h5, h6, span;

@each $elem in $textElements {
  #{$elem}.center {
    text-align: center;
  }
}

// RESPONSIVE LAYOUT ADJUSTMENTS

.show-in-single-col {
  display: none;
}

@media (max-width: $min-width-breakpoint) {
  .hide-in-single-col {
    display: none;
  }
  .show-in-single-col {
    display: inherit;
  }
}


// GRID

.columns {
  margin-left: $col-h-margin;
  margin-right: $col-h-margin;
  overflow: auto;
  width: 100% - 2*$col-h-margin;
}

.columns-fullwidth {
  background-color: rgb(245, 245, 245);
  padding-left: $col-fullwidth-padding;
  padding-right: $col-fullwidth-padding;
  overflow: auto;
  width: 100% - 2*$col-fullwidth-padding;
}

@media (min-width: $max-width-breakpoint) {
  .columns {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width-breakpoint;
  }
}

.clear {
  display: block;
  clear: both;
}

.col-fill {
  float: left;
  margin-left: $gutter;
  margin-right: $gutter;
}

@for $size from 1 to $columns + 1 {
  .col-#{$size} {
    float: left;
    margin-left: $gutter;
    margin-right: $gutter;
    width: 100% / $columns * $size - 2 * $gutter;
  }
}
@media (min-width: $min-width-breakpoint) {
  @for $size from 1 to $columns + 1 {
    .skip-#{$size} {
      margin-left: 100% / $columns * $size;
    }
  }
}


@media (max-width: $min-width-breakpoint) {
  @for $size from 1 to $columns {
    .col-#{$size} {
      width: 100% - 2 * $gutter;
    }
  }
}

// DECORATIONS
$borderLight: 1px solid $gray1;

@mixin borderRadius($r) {
  -webkit-border-radius: $r;
    -moz-border-radius:  $r;
      -ms-border-radius: $r;
        border-radius:   $r;
}

@mixin boxShadow($x, $y, $blur, $color) {
  -webkit-box-shadow: $x $y $blur 0px $color;
     -moz-box-shadow: $x $y $blur 0px $color;
          box-shadow: $x $y $blur 0px $color;
}

$hrThickness: 1px;
hr {
  border: none;
  background-color: $gray1;
  height: $hrThickness;
  margin-top: $u*3 - $hrThickness/2;
  margin-bottom: $u*3 - $hrThickness/2;
}

// FORM AND INPUT ELEMENTS
input {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  color: $gray2;
  display: inline-block;
  font-family: $mainFont;
	margin: 0;
  margin-right: $medium-space;
  outline: none;
	padding: 0;
  position: relative;
}

input[type="text"] {
  padding: $u;
  padding-bottom: $u - 2px;
  border: $borderLight;
  cursor: text;
  @include borderRadius($small-radius);
  width: auto;
}

input[type="radio"] {
  border: $borderLight;
  @include borderRadius($u);
  height: $u * 1.5;
  width:  $u * 1.5;
}
// input[type="radio"]:active {
// }
input[type="radio"]:checked {
  background-color: $gray2;
  border: none;
}

label {
  margin-bottom: $large-space;
}

// TYPOGRAPHY
body {
  font-family: $mainFont;
  font-size: $u * 2;
}

@for $i from 1 to 13 {
  .f-#{$i} {
    font-size: $i * $u;
    line-height: $i * $u * 1.5;
    margin-bottom: $i * $u * 1.5;

    &.title {
      margin-bottom: 0;
    }
  }
  .t-#{$i} {
    font-size: $i * $u;
    line-height: $i * $u * 1.5;
    margin-bottom: $i * $u * 1.5;

    &.no-break {
      margin-bottom: 0;
    }
  }
}

// COMPONENTS
.card {
  border: $borderLight;
  @include borderRadius($small-radius);
  @include boxShadow(0, 0, $small-radius, rgba(0,0,0,0.06));
}
.card-content {
  padding: $u*2 - 1px $u*2 $u*2 - 5px $u*2;
}

// ANIMATIONS
a:hover {
  opacity: 0.5;
  cursor: pointer;
}

// DEBUGGING
.debug {
  outline: 1px solid rgba(0,255,200,0.5);
}