/*
  MAIN APP STYLE
*/

// PARAMETERS
$u: 8px; // the smallest size available, any other size is a multiple

$small-space: $u / 2;
$regular-space: $u;
$medium-space: $u * 2;
$large-space: $u * 3;

$columns: 12;
$col-h-margin: 2.4%;
$col-fullwidth-padding: 2.4%;
$gutter: 1.2%;

$min-width-breakpoint: 600px;
$max-width-breakpoint: 1200px;

$mainFont: "Fira Sans", "Helvetica", sans-serif;

$small-radius: 2px;
$medium-radius: 4px;
$large-radius: 8px;


// COLORS
$gray1: #E5E5E5;
$gray2: #5D5D5D;

body {
  color: $gray2;
  background-color: $gray1;
}
